![alt text](https://raw.githubusercontent.com/rachelaull/GroupAssignment4/master/GroupAssignment4/Group%20Assignment%20%204%20Tables.png)

In [0]:
import sqlite3

In [0]:
connectionToDatabase = sqlite3.connect('BillboardData')

In [0]:
cursor = connectionToDatabase.cursor()

In [0]:
cursor.execute('''create table IF NOT EXISTS Songs (songTitle text PRIMARY KEY, artist text, album text, company text, releaseDate text, ranking integer, genre text, streams integer, download integer)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''create table IF NOT EXISTS Albums (albumName text PRIMARY KEY, artist text, recordCompany text, releaseDate text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''create table IF NOT EXISTS Artists (artistName text PRIMARY KEY, gender text, birthday date, nationality text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''create table IF NOT EXISTS Billboard (chart text PRIMARY KEY, songs text, artist text, album text, ranking text, genre text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Songs values ('Sober', 'Demi Lovato', 'Tell Me You Love Me', 'Hollywood Records', '2018', 56, 'Pop', 150000, 20000)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Songs values ('Do Re Mi', 'Blackbear', 'Digital Druglord', 'Interscope Records', '2017', 40, 'R&B, Soul', 160000, 50000)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Songs values ('Purple Lamborghini', 'Rick Ross', 'Purple Lamborghini', 'Atlantic Records', '2016', 33, 'Trap, Dubstep, Rock', 1000000, 150000)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Songs values ('Follow God', 'Kanye West', 'Jesus is King', 'GOOD Music', '2019', 4, 'Rap', 175000, 25000)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Songs values ('Look at Her Now', 'Selena Gomez', 'Look at Her Now', 'Interscope Records', '2019', 7, 'Pop', 1200000, 160000)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Artists values ('Demi Lovato', 'Female', '1992-08-20', 'American')''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Artists values ('Blackbear', 'Male', '1990-11-27', 'American')''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Artists values ('Rick Ross', 'Male', '1976-01-28', 'American')''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Artists values ('Kanye West', 'Male', '1977-06-08', 'American')''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Artists values ('Selena Gomez', 'Female', '1992-22-07', 'American')''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Albums values ('Tell Me You Love Me', 'Demi Lovato', 'Hollywood Records', '2017')''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Albums values ('Digital Druglord', 'Blackbear', 'Interscope Records', '2017')''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Albums values ('Purple Lamborghini', 'Rick Ross', 'Atlantic Records', '2016')''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Albums values ('Jesus is King', 'Kanye West', 'GOOD Music', '2019')''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Albums values ('Look at Her Now', 'Selena Gomez', 'Interscope Records', '2019')''')
connectionToDatabase.commit()

### What are the most streamed songs for a specific genre?

In [0]:
cursor.execute('''SELECT songTitle FROM Songs WHERE genre = 'Rap' GROUP BY genre ORDER BY streams DESC''' )
for row in cursor.fetchall():
  print (row)

('Follow God',)

### What are the top 5 most streamed songs for 2016?

In [0]:
cursor.execute('''SELECT songTitle FROM Songs WHERE releaseDate = '2016' ORDER BY streams DESC LIMIT 5''' )
for row in cursor.fetchall():
  print (row)

('Purple Lamborghini',)

### List all artists of the genre Pop with no repeats.

In [0]:
cursor.execute('''SELECT artist FROM Songs WHERE genre = 'Pop' GROUP BY genre''' )
for row in cursor.fetchall():
  print (row)

('Selena Gomez',)

#What are the most streamed songs for a specific genre?
We chose this question because we are interested in the breakdown between what genres are most popular today. With digital streaming, songs can become popular in an instant, and we would like to visualize the trends in what genres are most popular at a given time. We chose the rap genre, but the code can be changed to query whatever genre the user wants.


#What are the top 5 most streamed songs in 2016?

Similar to our last question, this will allow us to see trends over time. This will allow us to compare the performance of different artists, or more broadly, genres year to year. Understanding this information can be useful to understanding trends in the industry as to what genres were popular and what has fallen out of style.

#What artists are listed under the pop genre?

While we used the pop genre specifically, this type of query can be used to identify different artists in different genres depending on what the user wants. This can be used to compare the various artists from the many genres contained on the Billboard Hot 100. It is also useful for exploring artists that a user might not be aware of in a particular genre that they enjoy.